<h1>Improv Time</h1>
<div id='outer'>
    <ng-container *ngIf="!suggestion">
        <div class='main' id='main1'>
            <div>Press button to receive an improv suggestion  </div>
            <div>
        
                <button id='button1' type="button" (click)="getSuggestion()">Get Suggestion</button>
        
            </div>
        </div>
    </ng-container>
    <br>

    <ng-container *ngIf="suggestion">
        <div class='main' id='main2'>
            <div>Characters:
                <ul>
                    <li>{{suggestion.character1.name}}: {{suggestion.character1.description}}</li>
                    <li>{{suggestion.character2.name}}: {{suggestion.character2.description}}</li>
                </ul>
            </div>
            <div>
                Setting:
                <ul>
                    <li>{{suggestion.setting.name}}: {{suggestion.setting.description}}</li>
                </ul>
            </div>
            <div>
                Scenario:
                <ul>
                    <li>{{suggestion.scenario.name}}: {{suggestion.scenario.description}}</li>
                </ul>
            </div>
        
        </div>
        <br>
        <br>
        <div class='main'>

            <button id='button2' type="button" (click)="getSuggestion()">New Suggestion</button>
        </div>


    </ng-container>
</div>
